@import '@/styles/mixins'

@mixin commonButtonStyles
  width: fit-content

.button
  display: flex
  align-items: center
  justify-content: center
  gap: 1ch
  font-size: 0.8em
  opacity: 0.8
  transition: transform .1s

  &.right
    flex-direction: row-reverse

  &.icon
    border-radius: var(--base-radius)

  &.primary
    @include commonButtonStyles
    padding: var(--wide-padding)
    background-color: var(--primary)
    border-color: var(--primary)
    color: var(--white)
    border-radius: var(--base-radius)
    border: 1px solid var(--primary)
    
  &.secondary
    @include commonButtonStyles
    font-weight: 600
    padding: var(--wide-padding)
    border-color: var(--primary)
    color: var(--primary)
    border-radius: var(--base-radius)
    border: 1px solid var(--primary)

  &.underline
    @include commonButtonStyles
    text-decoration: underline

  &.danger
    @include commonButtonStyles

  &.warning
    @include commonButtonStyles

  &.success
    @include commonButtonStyles

  &.info
    @include commonButtonStyles

  &:hover
    opacity: 1

  &:active
    transform: scale(0.96)

  &:disabled
    @include disabled

  &.loading

  &.disabled

@media (max-width: 768px)
  .button
    width: 100%
