@import @/styles/mixins

.container
  position: relative
  
  &:hover,
  &:focus-visible
    & .tooltip
      transition-delay: 0.6s
      visibility: visible
      opacity: 1

.tooltip
  @include absolute(calc(100% + calc(var(--spacing) / 2)), auto, auto, 50%)
  z-index: 50
  visibility: hidden
  opacity: 0
  transform: translateX(-50%)
  color: hsl(var(--muted-foreground))
  background-color: hsl(var(--muted))
  padding: var(--wide-padding)
  width: var(--base-width)
  font-weight: 500
  font-size: var(--font-size-s)
  text-align: center
  border-radius: var(--radius)
  box-shadow: var(--shadow)
  pointer-events: none
  transition: opacity var(--transition-250)

  &::before
    content: ''
    @include absolute(-0.3rem, auto, auto, 50%)
    width: calc(var(--spacing) / 2)
    height: calc(var(--spacing) / 2)
    background-color: hsl(var(--muted))
    z-index: -1
    transform: translateX(-50%) rotate(45deg)

@media (pointer: coarse)
  .tooltip
    display: none
