.header
  width: 100vw

.title
  font-size: 2em
  font-weight: 700
  padding: 0.5em
  color: hsl(var(--foreground))
  text-transform: uppercase

  &:hover,
  &:focus-visible
    color: hsl(var(--primary))
