@import '@/styles/mixins'

.container
  position: relative
  height: fit-content
  width: 100%

.foreground
  position: absolute
  inset: 0
  z-index: -1
  display: flex
  align-items: center
  padding: var(--spacing)
  border: var(--thickness) solid hsl(var(--border))
  border-radius: var(--radius)

  &.error
    border-color: hsl(var(--red-foreground))

.message
  @include textEllipsis
  color: hsl(var(--muted-foreground))
  position: absolute
  top: calc(100% - var(--font-size-xs))
  right: var(--radius)
  opacity: 0
  visibility: hidden
  font-size: var(--font-size-xs)
  z-index: -1
  transform-origin: top
  transition: transform var(--transition-200), opacity var(--transition-200)

.label
  @include textEllipsis
  color: hsl(var(--muted-foreground))
  font-weight: 500
  padding: 0 0.7ch
  transform-origin: left
  transition: transform var(--transition-200)
  background-color: hsl(var(--background))

  &.hasIcon
    transform: tanslate(1.3rem, 0)

.left
  transform: translateY(4%)

.right-content
  position: absolute
  top: var(--thickness)
  right: var(--thickness)
  height: calc(100% - calc(var(--thickness) * 2))
  width: clamp(3rem, 22%, 5rem)
  border-radius: 0 calc(var(--radius) - var(--thickness)) calc(var(--radius) - var(--thickness)) 0
  display: flex
  align-items: center
  justify-content: center
  z-index: -1
  overflow: hidden

.input
  padding: var(--wide-padding)
  background-color: transparent
  width: 100%

  &::placeholder
    font-size: var(--font-size-s)
    color: transparent
  &::-webkit-input-placeholder
    font-size: var(--font-size-s)
    color: transparent
  &::--moz-placeholder
    font-size: var(--font-size-s)
    color: transparent
  &::-ms-input-placeholder
    font-size: var(--font-size-s)
    color: transparent
  &::-moz-placeholder
    font-size: var(--font-size-s)
    color: transparent

  &.without-caret
    caret-color: transparent

  &.input-with-left-content
    padding: var(--spacing) var(--spacing) var(--spacing) calc(var(--spacing) + 2.2rem)

  &.input-with-right-content
    padding: var(--spacing) calc(var(--spacing) + 2.5rem) var(--spacing) var(--spacing)
    width: 94%

  &.input-with-left-and-right-content
    padding: var(--spacing) var(--spacing) var(--spacing) calc(var(--spacing) + 2.2rem)
    width: 84%

  &:hover,
  &:focus-visible
    & ~ .foreground
      border-color: hsl(var(--foreground))

      & .label
        cursor: default
        color: hsl(var(--foreground))

  &:disabled
    pointer-events: none
    color: transparent
    
    & ~ .foreground,
    & ~ .right-content
      opacity: 0.5

    &::selection
      color: transparent
      background-color: transparent

  &:focus
    & ~ .message
      visibility: visible
      opacity: 1
      transform: translateY(1em)
    
    & ~ .foreground
      border-color: hsl(var(--primary))

      & .label
        color: hsl(var(--primary))

  &:hover,
  &:focus
    & ~ .foreground .left svg path
      fill: hsl(var(--foreground))

  &:focus,
  &:valid
    & ~ .right-content
      z-index: var(--focused-z-index)

    & ~ .foreground .label
      transform: translate(-0.2rem, calc(var(--spacing) - var(--spacing) * 2.65)) scale(0.8)

      &.label-with-left-content
        transform: translate(-1.75rem, calc(var(--spacing) - var(--spacing) * 2.65)) scale(0.8)

    &::placeholder
      color: hsl(var(--muted-foreground))
    &::-webkit-input-placeholder
      color: hsl(var(--muted-foreground))
    &::--moz-placeholder
      color: hsl(var(--muted-foreground))
    &::-ms-input-placeholder
      color: hsl(var(--muted-foreground))
    &::-moz-placeholder
      color: hsl(var(--muted-foreground))

.tooltip
  position: absolute
  top: 0
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  cursor: help

  &.left
    right: calc(100% + calc(var(--spacing) / 2))

  &.right
    left: calc(100% + calc(var(--spacing) / 2))

  &:hover svg path
    fill: hsl(var(--foreground))
