@import @/styles/mixins

.combobox
  position: relative

.input
  caret-color: transparent
  cursor: pointer

  &:focus,
  &:valid
    cursor: default
  
.icon
  transform: translateY(0.7em)

.list
  @include posAbsolute(calc(100% + 0.2rem), auto, auto, auto)
  z-index: 5
  border-radius: var(--small-radius)
  width: 100%
  overflow-y: auto
  background-color: var(--neutral)
  max-height: 0
  transition-delay: 200ms
  transition: max-height 150ms ease-out

  &.open
    max-height: 200px
    transition-delay: 0
    border: 1px solid var(--text-lighter)

.option
  &:nth-child(odd)
    background-color: var(--neutral-secondary)

.button
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  text-align: start
  padding: var(--small-padding)
  opacity: 0.75

  &:hover
    opacity: 1
    background-color: var(--neutral-light)

.content
  display: flex
  align-items: center
  gap: 0.5ch
  font-size: 0.9em

.arrow
  @include posAbsolute(33%, 1rem, auto, auto)
  z-index: -1

.filterField
  padding: 0

.filter
  background-color: transparent
  width: 100%
  padding: 0.8em 1em
  margin-left: 0.5ch

.search
  transform: translateX(0.8rem)
