.container
  position: relative

.button
  border: var(--stroke) solid hsl(var(--muted-foreground))
  padding: calc(var(--base-spacing) / 1.5)

  &:hover,
  &:focus-visible
    border-color: hsl(var(--foreground))

.menu
  position: absolute
  top: calc(100% + 2px)
  left: 0
  border-radius: var(--radius)
  background-color: hsl(var(--background))
  z-index: 1
  max-height: 0
  overflow: hidden
  border: var(--stroke) solid transparent
  transition: max-height var(--transition-200)

  &:hover .action:focus-visible
    background-color: hsl(var(--background))

    &:hover
      background-color: hsl(var(--secondary))

  &.open
    max-height: 20vh
    border-color: hsl(var(--muted-foreground))

.action
  position: relative
  width: 100%
  padding: var(--wide-padding)
  padding-right: 1.8em

  &:focus
    background-color: hsl(var(--secondary))

  &:hover,
  &:focus-visible
    background-color: hsl(var(--secondary))
  
  &::after
    content: ''
    position: absolute
    bottom: 0
    transform: translateY(0.5px)
    width: 80%
    height: 0.5px
    background-color: hsl(var(--muted-foreground))
