@import '@/styles/mixins'

.toast
  @include posFixed(20px, auto, auto, 50%)
  transform: translate(-50%, -400%)
  box-shadow: var(--base-shadow)
  border-radius: var(--base-radius)
  background-color: var(--neutral)
  padding: var(--wide-padding)
  max-width: 600px
  display: flex
  align-items: center
  justify-content: space-between
  gap: 2ch

  &.success
    @include success

  &.warning
    @include warning

  &.error
    @include error

  &.info
    background-color: var(--green)
    color: var(--white)

  &.displayed
    animation: slide-in 30s forwards

  &.hidden
    animation: slide-out 500ms forwards

.content
  display: flex
  align-items: center
  gap: 1ch

.message
  text-align: center

@keyframes slide-in
  0%
    opacity: 0
    transform: translate(-50%, -400%)
    
  2%
    opacity: 1
    transform: translate(-50%, 0)
  
  97%
    opacity: 1
    transform: translate(-50%, 0)
  
  99%
    opacity: 0
    transform: translate(-50%, -400%)

  100%
    display: none

@keyframes slide-out
  from
    opacity: 1
    transform: translate(-50%, 0)
    
  to
    opacity: 0
    transform: translate(-50%, -400%)

    