@import '@/styles/mixins'
@import '@/styles/animations'

.wrapper
  @include flexCenter
  @include posFixed(0, auto, auto, 0)
  @include animate(fade-in, 200ms, ease-out)
  transition: opacity 200ms
  width: 100vw
  height: 100vh
  z-index: 100

.behind
  @include posFixed(0, auto, auto 0)
  width: 100vw
  height: 100vh
  background-color: var(--large-opacity)

.container
  position: relative
  border: none
  background-color: var(--neutral)
  color: var(--text)
  border-radius: var(--small-radius)
  box-shadow: var(--base-shadow)
  padding: calc(var(--base-spacing) * 1.6)
  width: clamp(260px, 95vw, 700px)
  min-height: 250px
  max-height: 50vh

.header
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 1.5rem

.title
  width: 85%
  font-size: 1.3em
  transform: translateY(3px)
