@import '@/styles/mixins'
@import '@/styles/animations'

.wrapper
  @include flexCenter
  @include posFixed(0, auto, auto, 0)
  @include animate(fade-in, 200ms, ease-out)
  transition: opacity 200ms
  width: 100vw
  height: 100vh
  z-index: 100

.behind
  @include posFixed(0, auto, auto 0)
  width: 100vw
  height: 100vh
  background-color: var(--large-opacity)

.container
  position: relative
  border: none
  background-color: var(--neutral)
  color: var(--text)
  border-radius: var(--small-radius)
  box-shadow: var(--base-shadow)
  padding: var(--wide-padding)
  width: clamp(260px, 95vw, 500px)
  min-height: 250px
  max-height: 50vh
