.container
  position: relative

.message
  position: absolute
  bottom: 0
  opacity: 0
  z-index: -1
  visibility: hidden
  color: var(--red-foreground)
  font-weight: 600
  transition: transform var(--transition-200), opacity var(--transition-100) 100ms

  &.visible
    transform: translateY(1em)
    opacity: 1
    visibility: visible
