@import '@/styles/mixins'
  
.close
  @include posAbsolute(var(--close-button-top), 1em, auto, auto)
  transform: translate(var(--close-button-translate), 0)
  
.button
  padding: calc(var(--close-button-base-size) / 5)
  border-color: var(--close-button-border-color)
  opacity: 0.7

  &:hover
    opacity: 1
