:root
  --font-size-xs: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem)
  --font-size-s: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem)
  --font-size-m: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem)
  --font-size-l: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem)
  --font-size-xl: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem)
  --font-size-xxl: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem)
  --font-size-xxxl: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem)

  --spacing: var(--font-size-s)

  --base-width: clamp(260px, 100%, 400px)
  --large-width: clamp(300px, 100%, 600px)

  --wide-padding: var(--spacing) calc(var(--spacing) * 1.5)
  --small-padding: calc(var(--spacing) / 1.5) var(--spacing)

  --thickness: 1px
  --radius: calc(var(--spacing) / 3)
  --shadow: 0 0 var(--spacing) hsla(var(--primary), 0.1)

@media (min-width: 767px)
  :root
    --base-width: clamp(260px, 80vw, 400px)
    --large-width: clamp(300px, 80vw, 600px)
